<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div class="container m-3">
    <div class="row align-items-center justify-content-center">
        <div class="col">
            <h1 class="mb-5">Asynchronous addition using Celery!</h1>
            <div class="row my-3">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <form action="/schedule_crawlable_entity" method="POST" class="form-inline">
                <button class="btn btn-primary" type="submit">schedule_crawlable_entity</button>
            </form>
            <form action="/schedule_url_batch" method="POST" class="form-inline">
                <button class="btn btn-primary" type="submit">schedule_url_batch</button>
            </form>
            <form action="/process_out_of_stock_raw_items_task" method="POST" class="form-inline">
                <button class="btn btn-primary" type="submit">process_out_of_stock_raw_items_task</button>
            </form>
            <form action="/re_process_source_raw_items" method="POST" class="form-inline">
                <div class="form-group">
                    <label for="source">Source</label>
                    <input id="source" class="form-control mx-3" type="text" name="source"/>
                </div>
                <button class="btn btn-primary" type="submit">re_process_source_raw_items</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
